In [1]:
# Importation
import pandas as pd

In [2]:
# initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [3]:
# List, again
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]} 
  
# Create DataFrame 
df = pd.DataFrame(data) 
  
# Print the output. 
df

   Age   Name
0   20    Tom
1   21   nick
2   19  krish
3   18   jack

In [4]:
# initialise data of lists. 
data = {'Name':['Tom', 'Jack', 'nick', 'juli'], 'marks':[99, 98, 95, 90]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['rank1', 'rank2', 'rank3', 'rank4']) 
  
# print the data 
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

In [5]:
# Initialise data to lists. 
data = [{'a': 1, 'b': 2, 'c':3}, {'a':10, 'b': 20, 'c': 30}] 
  
# Creates DataFrame. 
df = pd.DataFrame(data) 
  
# Print the data 
df

    a   b   c
0   1   2   3
1  10  20  30

In [6]:
# Intitialise data of lists  
data = [{'b': 2, 'c':3}, {'a': 10, 'b': 20, 'c': 30}] 
  
# Creates pandas DataFrame by passing  
# Lists of dictionaries and row index. 
df = pd.DataFrame(data, index =['first', 'second']) 
  
# Print the data 
df

           a   b   c
first    NaN   2   3
second  10.0  20  30

In [10]:
# With two column indices, values same  
# as dictionary keys 
df1 = pd.DataFrame(data, index =['first', 'second'], columns =['a', 'b']) 
   
# With two column indices with  
# one index with other name 
df2 = pd.DataFrame(data, index =['first', 'second'], columns =['a', 'b1']) 
   
# print for first data frame 
print (df1, "\n") 
   
# Print for second DataFrame. 
print (df2)

           a   b
first    NaN   2
second  10.0  20

           a  b1
first    NaN NaN
second  10.0 NaN

In [8]:
# List1  
Name = ['tom', 'krish', 'nick', 'juli']  
    
# List2  
Age = [25, 30, 26, 22]  
    
# get the list of tuples from two lists.  
# and merge them by using zip().  
list_of_tuples = list(zip(Name, Age))  
    
# Assign data to tuples.  
list_of_tuples   
  

# Converting lists of tuples into  
# pandas Dataframe.  
df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age'])  
     
# Print data.  
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [9]:
# Intialise data to Dicts of series. 
d = {'one' : pd.Series([10, 20, 30, 40], index =['a', 'b', 'c', 'd']), 
      'two' : pd.Series([10, 20, 30, 40], index =['a', 'b', 'c', 'd'])} 
  
# creates Dataframe. 
df = pd.DataFrame(d) 
  
# print the data. 
df

   one  two
a   10   10
b   20   20
c   30   30
d   40   40